<div class="clearfix h-75 AndvariBox">
    <div class="container container-fluid AndvariFill">
        <% for (var i = 0; i < page.description.length; i++) { %>
            <div class="row">
                <<%= page.description[i].type %> class="w-100 text-center AndvariDynSize">
                    <%= page.description[i].text %>
                </<%= page.description[i].type %>>
            </div>
        <% } %>
    </div>
</div>
