
            <div class="vh-100 <%- vis %> text-white container-fluid" style="background-image:url('img/back.<%- type %>.jpg');background-size:cover">
                <div class="row header">
                    <h2>Carly.Wine</h2>
                </div>
                <div class="row h-75" style="position:relative">
                    <div class="container-fluid" style="position:absolute;bottom:0">
                        <div class="row">
                            <p class="w-100 text-center">Wine Recommendations</p>
                        </div>
                        <div class="row">
                            <h4 class="w-100 text-center">The Secret Somm</h4>
                        </div>
                    </div>
                </div>
                <div class="row w-100" style="position:absolute;bottom:0;background-color:#38383c;padding:20px">
                    <h4 class="w-100 text-center"><a href="mailto:somm@carly.wine">somm@carly.wine</a></h4>
                </div>
            </div>
