
            <div class="vh-100 <%= vis %> text-white container-fluid Background_<%= type %>">
                <div class="row header">
                    <h2>Carly.Wine</h2>
                </div>
                <div class="row h-75 AndvariBox">
                    <div class="container-fluid AndvariFill">
                        <div class="row">
                            <p class="w-100 text-center">Wine Recommendations</p>
                        </div>
                        <div class="row">
                            <h4 class="w-100 text-center">The Secret Somm</h4>
                        </div>
                    </div>
                </div>
                <div class="row w-100 AndvariFill Footer">
                    <h4 class="w-100 text-center"><a href="mailto:somm@carly.wine">somm@carly.wine</a></h4>
                </div>
            </div>
